<% if User.current.pref.enable_popup_journal_diff == '1' %>
<%= content_for :header_tags do
  javascript_include_tag("diff_popup", :plugin => "redmine_diff_popup")
end %>
<script>
  $(function () {
    replaceJournalDiff();
  });
</script>
<% end %>
